:root {
  --light-black: #282c34; 
  --dark-black: #16181d; 
  --white: #abb2bf;
  --light-red: #e06c75;
  --dark-red: #be5046;
  --green: #98c379;
  --light-yellow: #e5c07b;
  --dark-yellow: #d19a66;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c2;
  --light-grey: #5c6370;
  --dark-grey: #4b5263;
}

body {
  background-color: var(--dark-black);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.container {
  padding: 0 10%;
}

img {
  width: 100%;
}

a {
  color: var(--blue);
}

nav.menu ul {
  display: flex;
  justify-content: center;
}

nav.menu ul li {
  padding: 0 1rem;
  list-style: none;
}

