/* Inspirações:
 * https://pages-themes.github.io/hacker/
 */

:root {
    --light-black: #282c34; 
    --dark-black: #16181d; 
    --white: #abb2bf;
    --light-red: #e06c75;
    --dark-red: #be5046;
    --green: #98c379;
    --light-yellow: #e5c07b;
    --dark-yellow: #d19a66;
    --blue: #61afef;
    --magenta: #c678dd;
    --cyan: #56b6c2;
    --light-grey: #5c6370;
    --dark-grey: #4b5263;
}

:target {
    background: red;
}

body {
    background-color: var(--light-black);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 10%;
}

img {
    width: 100%;
}

a {
    color: var(--blue);
}


/*{{{Header
 */
header {
    padding: 2vh 0;
}

nav.menu ul {
    display: flex;
    justify-content: center;
}

nav.menu ul li {
    padding: 0 1rem;
    list-style: none;
}
/*}}}*/




/*{{{Home
 */
.posts ul {
    padding-left: 6px;
    margin: 0.8em 0.7em 0.8em 1.5em;
}

.posts li {
    margin-bottom: .5em;
    font-size: 1.2em;
}

.posts li::before {
    color: var(--light-red);
    content: '•';
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
/*}}}*/

.cover {
    margin: 1em 0;
    padding-top: 30vh;
    background-size: cover;
    background-position: center;
}

/*{{{Article
 */
article {
    overflow-wrap: break-word;
    text-align: left;
}

article p {
    margin: 0.95em 0 1.2em;
    padding: 0.2em;
    line-height: 1.5;
}

article ul {
    padding-left: 6px;
    margin: 0.8em 0.7em 0.8em 1.5em;
}

article li {
    margin: 0.3em auto;
}

article li::before {
    color: var(--light-red);
    content: '•';
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/*{{{Snippets
 */
article div.highlight {
    background-color: var(--cyan);
}

article div.highlight::before, div.highlight::after {
    content: "```";
    color: black;
}

article .highlight pre {
    background-color: var(--dark-black);
    padding: 1%;
    overflow: auto;
}
/*}}}*/
/*}}}*/

/*{{{Títulos
 */

h1, h2, h3, h4, h5, h6 {
    scroll-behavior: smooth;
    font-weight: 400;
    color: var(--green);
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
}

h1::before { content: "# " }
h2::before { content: "## " }
h3::before { content: "### " }
h4::before { content: "### " }
h5::before { content: "#### " }
h6::before { content: "##### " }

h1 {
    font-size: 1.85em;
    line-height: 1.14em;
    margin-top: 1em;
}

h2 {
    font-size: 1.7em;
    line-height: 1.14em;
    margin-top: 1em;
}

h3 {
    font-size: 1.32em;
    margin-top: 1em;
}

h4 {
    font-size: 1.25em;
    margin-top: 1em;
}

h5 {
    font-size: 1.2em;
    margin-top: 1em;
}

h6 {
    font-size: 1.15em;
    margin-top: 1em;
}
/*}}}*/

/* vim: set fdm=marker: */
