/* Inspirações:
 * https://b2a3e8.github.io/jekyll-theme-console
 * https://pages-themes.github.io/hacker/
 */

:root {
    --onedark-light-black: #282c34; 
    --onedark-dark-black: #16181d; 
    --onedark-dark-black: #16181d; 
    --onedark-light-white: #DBDBDB;
    --onedark-dark-white: #abb2bf;
    --onedark-light-red: #e06c75;
    --onedark-dark-red: #be5046;
    --onedark-green: #98c379;
    --onedark-light-yellow: #e5c07b;
    --onedark-dark-yellow: #d19a66;
    --onedark-blue: #61afef;
    --onedark-magenta: #c678dd;
    --onedark-cyan: #56b6c2;
    --onedark-light-grey: #5c6370;
    --onedark-dark-grey: #4b5263;

    --ui-border-color: var(--onedark-green);
    --ui-background-color: #000;
    --ui-base-color: var(--onedark-light-white);
    --ui-selection-text: var(--ui-background-color);
    --ui-selection-background: var(--ui-base-color);
    --ui-text-color: var(--ui-base-color);
    --ui-link-color: var(--ui-base-color);
    --ui-link-rodape-color: var(--ui-onedark-light-red);

    --border: dashed 2px var(--ui-border-color);
}

button {
    background: none;
    border: none;
    color: var(--ui-text-color);
    font-family: 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1rem;
    padding: 0;
    cursor: pointer;
}

button:active, button:hover {
    background: var(--ui-selection-background);
    color:var(--ui-selection-text);
}

button::before{
    content: "[ ";
}

button::after{
    content: " ]";
}

body {
    background-color:var(--ui-background-color);
    margin:0 auto;
    padding:0;
    font-family: 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1rem;
    color:var(--ui-text-color);
    text-align:left;
    line-height:1.5 !important
}
h1, h2, h3, h4, h5, h6 {
    scroll-behavior: smooth;
    font-size:1.5rem;
    margin:0px;
    margin-top:22px;
    font-weight:bold;
    color:var(--ui-text-color)
}
p, ul, ol {
    margin:0px;
    color:var(--ui-text-color)
}
a {
    text-decoration:underline;
    color:var(--ui-link-color)
}
a:hover {
    color:var(--ui-background-color);
    background-color:var(--ui-base-color)
}
.container, header, footer {
    width:90%;
    max-width: 600px;
    margin-bottom:25px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:25px;
}

img {
    width: 100%;
}
.cover {
    margin: 1em 0;
    padding-top: 30vh;
    background-size: cover;
    background-position: center;
}
p {
    word-wrap:break-word;
    word-break:break-word;
    white-space:pre-wrap
}

::selection {
    background:var(--ui-selection-background);
    color:var(--ui-selection-text)
}
::-moz-selection {
    background:var(--ui-selection-background);
    color:var(--ui-selection-text)
}

/*{{{Menus*/
.menu ul {
    margin-top:12px;
    margin-bottom:12px;
    padding-left:0px;
    list-style-type:none;
}
.menu ul li {
    margin-right:10px;
    display: inline-block;
}
.menu.cabecalho ul li:last-child {
    float: right;
}
.menu ul li a {
    text-decoration:none;
    color:var(--ui-text-color)
}
.menu ul li a:hover {
    text-decoration:none;
    color:var(--ui-background-color);
    background-color:var(--ui-base-color)
}
:not(.menu)>ul {
    list-style-type:none
    list-style:none;
    padding-left:0
}
:not(.menu)>ul>li:before {
    content:"-";
    margin-right:9px
}
.toggle-theme {
    flex: content;
}
header {
    margin-top:25px;
    margin-bottom:10px;
    border-bottom: var(--border);
}
footer {
    color:var(--ui-text-color);
    margin:20px auto 15px;
    text-align:right;
    margin-bottom:20px;
    border-top: var(--border);
}
footer.menu ul{
    flex-direction: row-reverse;
}
footer.menu li a{
    text-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
    color: var(--ui-link-rodape-color);
}

/*}}}*/

article .highlight pre {
    background-color: var(--dark-black);
    padding: 1%;
    overflow: auto;
}
/* vim: set fdm=marker: */
